<!DOCTYPE html>
<html>
    <head>
        <title>Fritter</title>
    </head>
    <body>
        <h1>Fritter</h1>
        <h2>Register</h2>
        <form name="input" action="create" method="post">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
            <input type="submit" value="Register">
        </form>
        <p>Already have an account? Return to the <a href="/">home page</a> to login.</p> 
    </body>
</html>
